.Rproj.user
.Rhistory
.RData
.httr-oauth
.httr-oauth-SUSPENDED
inst/doc
inst/flexdashbord/rsconnect/documents/authDemo.Rmd/shinyapps.io/mark/authDemoFlex.dcf
auth.json
*.httr-oauth
secrets.tar

tests/testthat/httr-oauth.rds

httr-oauth.rds
