language: r
cache: packages
r_packages:
- knitr
- covr
notifications:
  slack: googleauthrverse:tGfXjSD58cQSEr1YuzQ5hKPS
  email:
    on_success: change
    on_failure: change
after_success:
- Rscript -e 'covr::codecov()'

